use Mix.Config

config :pleroma, Pleroma.Web.Endpoint,
   url: URI.parse(System.get_env("PLEROMA_WEB_URL")),
   secret_key_base: System.get_env("PLEROMA_WEB_SECRET_KEY_BASE")

config :pleroma, :instance,
  name: System.get_env("PLEROMA_INSTANCE_NAME"),
  email: String.to_integer(System.get_env("PLEROMA_INSTANCE_EMAIL")),
  limit: String.to_integer(System.get_env("PLEROMA_INSTANCE_LIMIT")),
  registrations_open: String.to_existing_atom(System.get_env("PLEROMA_REGISTRATIONS_OPEN"))

config :pleroma, :media_proxy,
  enabled: false,
  redirect_on_failure: true
  #base_url: "https://cache.pleroma.social"

# Configure your database
config :pleroma, Pleroma.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: System.get_env("PLEROMA_DB_USERNAME"),
  password: System.get_env("PLEROMA_DB_PASSWORD"),
  database: System.get_env("PLEROMA_DB_DATABASE"),
  hostname: System.get_env("PLEROMA_DB_HOSTNAME"),
  pool_size: 10

